<section class="card">
  <a href="/patient/{{id}}">
    <header>{{patient.name}}</header>
    <section class="patient_photo">
      <img src="images/{{patient.patient_photo}}" alt="">
    </section>
    <div class="card-body">
      <p>Age: {{patient.age}} years</p>
      <p>Weight: {{patient.weight}} kg</p>
      <p>Description: {{patient.description}}</p>
    </div>
  </a>
</section>
