<section class="card">
  <a href="/patient/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <p>Height: {{height}} cm</p>
      <p>Weight: {{weight}} kg</p>
      <p>Age: {{age}} years</p>
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>
