<div class="text-center">
  <section class="patient_photo">
      <img src="/public/images/{{patient_photo}}" alt="{{description}}" width="800" height="800">
    </section>
  <h2>{{name}}</h2>
  <p>Age: {{age}}</p>
  <p>Weight: {{weight}} kg.</p>
  <p>Height: {{height}} in.</p>
  <p>Description: {{description}}</p>
  <p>Added by: {{user.name}} on {{format_date date_created}}</p>
</div>
